@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
	font-family: 'Roboto', sans-serif;
	color: black;
}

body {
	background-color: #505050;
}

@keyframes showcards {
	from {
		bottom: -10vw;
	}
	to {
		bottom: 75vh;
	}
}
@keyframes raisecard {
	from {
		transform: translateY(0%);
	}
	to {
		transform: translateY(-20%);
	}
}
@keyframes raisecard {
	from {
		transform: translateY(-20%);
	}
	to {
		transform: translateY(0%);
	}
}
@keyframes show {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
@keyframes hide {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}

div.card {
	display: inline-block;
	position: absolute;
	border-radius: 10px;
	box-shadow: 0 0 10px #1C1C1C;
	width: 10vw;
	height: 15vw;
	transition-duration: 0.3s;
	transform-origin: center 120%;
	font-size: 2vh;
	padding: 1vh;
	padding-right: 2vw;
}
div.card.white {
	background-color: white;
}

div#hand {
	position: absolute;
	height: 50%;
	width: 100%;
	top: 50%;
	display: flex;
	justify-content: center;
	left: 0px;
}

div#pcont {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	backdrop-filter: blur(30px);
	z-index: 98;
	display: none;
	opacity: 0;
	align-items: center;
	justify-content: center;
}
div#pcont * {
	color: white;
}

div#prompt {
	border-radius: 10px;
	text-align: center;
	width: 30%;
	height: 20%;
	background-color: #222222;
}

button {
	background-color: #191919;
	border-radius: 5px;
	padding: 3px 15px 3px 15px;
	border: none;
	transition-duration: 0.3s;
}
button:hover {
	transform: scale(1.3);
}
input[type=text] {
	border-radius: 4px;
	border: 2px solid black;
	color: black !important;
}
@keyframes show {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}