body {
	background-color: #505050;
}

@keyframes showcards {
	from {
		bottom: -10vw;
	}
	to {
		bottom: 75vh;
	}
}

div.card {
	display: inline-block;
	border-radius: 10px;
	box-shadow: -0.3vw 0.3vw 5px #1C1C1C;
	width: 8vw;
	height: 10vw;
	transition-duration: 0.3s;
	left: 50%;
	margin-left: 10px;
}
div.card.white {
	background-color: white;
}